<div class="container">
	<img src="{{product.image}}">	
	<h1>{{product.name}}</h1>
	
	<h4>${{product.price}}</h4>
	<a href="http://localhost:3000/where-to-buy">
		<button type="button" class="btn btn-primary">Locate a Store</button>
	</a>
</div>
</div>

<style>
.container{
		text-align: center;
	}
	img {
		width: 460px;
		margin: 0 auto;
	}
</style>